body {
  font-size: 100%;
  font-family: Arial;
}

button, input {
  font-size: x-large;
  font-family: Arial;
}

table {
  width: 100%;
}

td, th {
  padding: 10px;
  border: 5px dotted #00ff2a;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.wrapper {
  margin: 0 auto;
  text-align: center;
  max-width: 100%;
  background-color: rgb(140, 209, 255);
}

.total {
  font-size: x-large;
  text-decoration: underline, bold;
}

.form {
  margin-top: 20px;
  width: 100%;
}

.transactions {
  max-height: 275px;
  text-align: left;
  overflow: auto;
  width: 100%;
  margin: 0 auto;
  font-size: large;
  background-color: white;
}


.error {
  color: red;
}

